---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/josefwaller/exampleprivaterepository
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token ThisIsAnExampleGithubApiKey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1503942328'
      Etag:
      - W/"45fee77adb9f7a323a41c91a324a9337"
      Last-Modified:
      - Thu, 24 Aug 2017 23:02:20 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":101344622,"name":"ExamplePrivateRepository","full_name":"josefwaller/ExamplePrivateRepository","owner":{"login":"josefwaller","id":5296849,"avatar_url":"https://avatars0.githubusercontent.com/u/5296849?v=4","gravatar_id":"","url":"https://api.github.com/users/josefwaller","html_url":"https://github.com/josefwaller","followers_url":"https://api.github.com/users/josefwaller/followers","following_url":"https://api.github.com/users/josefwaller/following{/other_user}","gists_url":"https://api.github.com/users/josefwaller/gists{/gist_id}","starred_url":"https://api.github.com/users/josefwaller/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/josefwaller/subscriptions","organizations_url":"https://api.github.com/users/josefwaller/orgs","repos_url":"https://api.github.com/users/josefwaller/repos","events_url":"https://api.github.com/users/josefwaller/events{/privacy}","received_events_url":"https://api.github.com/users/josefwaller/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/josefwaller/ExamplePrivateRepository","description":"Test
        github-dash","fork":false,"url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository","forks_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/forks","keys_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/keys{/key_id}","collaborators_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/teams","hooks_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/hooks","issue_events_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/issues/events{/number}","events_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/events","assignees_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/assignees{/user}","branches_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/branches{/branch}","tags_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/tags","blobs_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/git/refs{/sha}","trees_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/git/trees{/sha}","statuses_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/statuses/{sha}","languages_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/languages","stargazers_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/stargazers","contributors_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/contributors","subscribers_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/subscribers","subscription_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/subscription","commits_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/commits{/sha}","git_commits_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/git/commits{/sha}","comments_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/comments{/number}","issue_comment_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/issues/comments{/number}","contents_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/contents/{+path}","compare_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/compare/{base}...{head}","merges_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/merges","archive_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/downloads","issues_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/issues{/number}","pulls_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/pulls{/number}","milestones_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/milestones{/number}","notifications_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/labels{/name}","releases_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/releases{/id}","deployments_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/deployments","created_at":"2017-08-24T23:02:20Z","updated_at":"2017-08-24T23:02:20Z","pushed_at":"2017-08-24T23:09:44Z","git_url":"git://github.com/josefwaller/ExamplePrivateRepository.git","ssh_url":"git@github.com:josefwaller/ExamplePrivateRepository.git","clone_url":"https://github.com/josefwaller/ExamplePrivateRepository.git","svn_url":"https://github.com/josefwaller/ExamplePrivateRepository","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"network_count":0,"subscribers_count":1}'
  recorded_at: Mon, 28 Aug 2017 17:41:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/josefwaller/ExamplePrivateRepository/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token ThisIsAnExampleGithubApiKey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1503942328'
      Etag:
      - W/"961bdc215afc048e100bac91c0eb52eb"
      Last-Modified:
      - Thu, 24 Aug 2017 23:09:38 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"f74f6893975b7d5cf1d84df8d5e2353b8099abc5","commit":{"author":{"name":"Josef
        Waller","email":"josef@siriusapplications.com","date":"2017-08-24T23:09:38Z"},"committer":{"name":"Josef
        Waller","email":"josef@siriusapplications.com","date":"2017-08-24T23:09:38Z"},"message":"WIP","tree":{"sha":"c27baca7db777f6ff135c4d0e339ee26d434396d","url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/git/trees/c27baca7db777f6ff135c4d0e339ee26d434396d"},"url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/git/commits/f74f6893975b7d5cf1d84df8d5e2353b8099abc5","comment_count":0},"url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/commits/f74f6893975b7d5cf1d84df8d5e2353b8099abc5","html_url":"https://github.com/josefwaller/ExamplePrivateRepository/commit/f74f6893975b7d5cf1d84df8d5e2353b8099abc5","comments_url":"https://api.github.com/repos/josefwaller/ExamplePrivateRepository/commits/f74f6893975b7d5cf1d84df8d5e2353b8099abc5/comments","author":{"login":"josefwaller","id":5296849,"avatar_url":"https://avatars0.githubusercontent.com/u/5296849?v=4","gr[...]
- request:
    method: get
    uri: https://api.github.com/repos/josefwaller/ExamplePrivateRepository/pulls?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token ThisIsAnExampleGithubApiKey
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1503942328'
      Etag:
      - '"bda6f017dc0f3a7fcb931aa890edf590"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 28 Aug 2017 17:41:12 GMT
recorded_with: VCR 3.0.3
