---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/josefwaller/github-dash
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1503358060'
      Etag:
      - W/"90e40e4053b2ce54e0cd517866922a83"
      Last-Modified:
      - Thu, 10 Aug 2017 16:27:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":99943119,"name":"github-dash","full_name":"josefwaller/github-dash","owner":{"login":"josefwaller","id":5296849,"avatar_url":"https://avatars0.githubusercontent.com/u/5296849?v=4","gravatar_id":"","url":"https://api.github.com/users/josefwaller","html_url":"https://github.com/josefwaller","followers_url":"https://api.github.com/users/josefwaller/followers","following_url":"https://api.github.com/users/josefwaller/following{/other_user}","gists_url":"https://api.github.com/users/josefwaller/gists{/gist_id}","starred_url":"https://api.github.com/users/josefwaller/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/josefwaller/subscriptions","organizations_url":"https://api.github.com/users/josefwaller/orgs","repos_url":"https://api.github.com/users/josefwaller/repos","events_url":"https://api.github.com/users/josefwaller/events{/privacy}","received_events_url":"https://api.github.com/users/josefwaller/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/josefwaller/github-dash","description":null,"fork":false,"url":"https://api.github.com/repos/josefwaller/github-dash","forks_url":"https://api.github.com/repos/josefwaller/github-dash/forks","keys_url":"https://api.github.com/repos/josefwaller/github-dash/keys{/key_id}","collaborators_url":"https://api.github.com/repos/josefwaller/github-dash/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/josefwaller/github-dash/teams","hooks_url":"https://api.github.com/repos/josefwaller/github-dash/hooks","issue_events_url":"https://api.github.com/repos/josefwaller/github-dash/issues/events{/number}","events_url":"https://api.github.com/repos/josefwaller/github-dash/events","assignees_url":"https://api.github.com/repos/josefwaller/github-dash/assignees{/user}","branches_url":"https://api.github.com/repos/josefwaller/github-dash/branches{/branch}","tags_url":"https://api.github.com/repos/josefwaller/github-dash/tags","blobs_url":"https://api.github.com/repos/josefwaller/github-dash/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/josefwaller/github-dash/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/josefwaller/github-dash/git/refs{/sha}","trees_url":"https://api.github.com/repos/josefwaller/github-dash/git/trees{/sha}","statuses_url":"https://api.github.com/repos/josefwaller/github-dash/statuses/{sha}","languages_url":"https://api.github.com/repos/josefwaller/github-dash/languages","stargazers_url":"https://api.github.com/repos/josefwaller/github-dash/stargazers","contributors_url":"https://api.github.com/repos/josefwaller/github-dash/contributors","subscribers_url":"https://api.github.com/repos/josefwaller/github-dash/subscribers","subscription_url":"https://api.github.com/repos/josefwaller/github-dash/subscription","commits_url":"https://api.github.com/repos/josefwaller/github-dash/commits{/sha}","git_commits_url":"https://api.github.com/repos/josefwaller/github-dash/git/commits{/sha}","comments_url":"https://api.github.com/repos/josefwaller/github-dash/comments{/number}","issue_comment_url":"https://api.github.com/repos/josefwaller/github-dash/issues/comments{/number}","contents_url":"https://api.github.com/repos/josefwaller/github-dash/contents/{+path}","compare_url":"https://api.github.com/repos/josefwaller/github-dash/compare/{base}...{head}","merges_url":"https://api.github.com/repos/josefwaller/github-dash/merges","archive_url":"https://api.github.com/repos/josefwaller/github-dash/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/josefwaller/github-dash/downloads","issues_url":"https://api.github.com/repos/josefwaller/github-dash/issues{/number}","pulls_url":"https://api.github.com/repos/josefwaller/github-dash/pulls{/number}","milestones_url":"https://api.github.com/repos/josefwaller/github-dash/milestones{/number}","notifications_url":"https://api.github.com/repos/josefwaller/github-dash/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/josefwaller/github-dash/labels{/name}","releases_url":"https://api.github.com/repos/josefwaller/github-dash/releases{/id}","deployments_url":"https://api.github.com/repos/josefwaller/github-dash/deployments","created_at":"2017-08-10T16:23:17Z","updated_at":"2017-08-10T16:27:03Z","pushed_at":"2017-08-16T18:36:54Z","git_url":"git://github.com/josefwaller/github-dash.git","ssh_url":"git@github.com:josefwaller/github-dash.git","clone_url":"https://github.com/josefwaller/github-dash.git","svn_url":"https://github.com/josefwaller/github-dash","homepage":null,"size":2421,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","network_count":0,"subscribers_count":1}'
  recorded_at: Mon, 21 Aug 2017 23:09:52 GMT
- request:
    method: get
    uri: https://api.github.com/repos/josefwaller/github-dash/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1503358060'
      Etag:
      - W/"18102a4902a1654aedf3e3b90a60efbc"
      Last-Modified:
      - Wed, 16 Aug 2017 18:35:45 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"4594daead285ec3f9ba7cf29c79d39942ca275c5","commit":{"author":{"name":"Josef
        Waller","email":"josef@siriusapplications.com","date":"2017-08-16T18:00:59Z"},"committer":{"name":"Josef
        Waller","email":"josef@siriusapplications.com","date":"2017-08-16T18:35:45Z"},"message":"Add
        more colors to interface\n\nAdd more colors to `github-dash repo REPO_NAME`
        and `github-dash\nfollowing`.","tree":{"sha":"e6145a397a84aa6facb5f00325361979e489b046","url":"https://api.github.com/repos/josefwaller/github-dash/git/trees/e6145a397a84aa6facb5f00325361979e489b046"},"url":"https://api.github.com/repos/josefwaller/github-dash/git/commits/4594daead285ec3f9ba7cf29c79d39942ca275c5","comment_count":0},"url":"https://api.github.com/repos/josefwaller/github-dash/commits/4594daead285ec3f9ba7cf29c79d39942ca275c5","html_url":"https://github.com/josefwaller/github-dash/commit/4594daead285ec3f9ba7cf29c79d39942ca275c5","comments_url":"https://api.github.com/repos/josefwaller/github-dash/commits/4594daead285ec3f9ba7cf29c79d39942ca275c5/comments","author":{"login":"josefwaller","id":5296849,"avatar_url":"https://avatars0.githubusercontent.com/u/5296849?v=4","gravatar_id":"","url":"https://api.github[...]
- request:
    method: get
    uri: https://api.github.com/repos/josefwaller/github-dash/pulls?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1503358060'
      Etag:
      - '"aacc6f617e4d9cd3fbca87b8d3748d98"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 21 Aug 2017 23:09:53 GMT
recorded_with: VCR 3.0.3
