---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/josefwaller/pycatan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1503358060'
      Etag:
      - W/"867ddc5a867d8c783d129850dbbded8e"
      Last-Modified:
      - Sat, 12 Aug 2017 20:55:10 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":62670182,"name":"PyCatan","full_name":"josefwaller/PyCatan","owner":{"login":"josefwaller","id":5296849,"avatar_url":"https://avatars0.githubusercontent.com/u/5296849?v=4","gravatar_id":"","url":"https://api.github.com/users/josefwaller","html_url":"https://github.com/josefwaller","followers_url":"https://api.github.com/users/josefwaller/followers","following_url":"https://api.github.com/users/josefwaller/following{/other_user}","gists_url":"https://api.github.com/users/josefwaller/gists{/gist_id}","starred_url":"https://api.github.com/users/josefwaller/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/josefwaller/subscriptions","organizations_url":"https://api.github.com/users/josefwaller/orgs","repos_url":"https://api.github.com/users/josefwaller/repos","events_url":"https://api.github.com/users/josefwaller/events{/privacy}","received_events_url":"https://api.github.com/users/josefwaller/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/josefwaller/PyCatan","description":"An
        API for playing The Settlers of Catan in Python.","fork":false,"url":"https://api.github.com/repos/josefwaller/PyCatan","forks_url":"https://api.github.com/repos/josefwaller/PyCatan/forks","keys_url":"https://api.github.com/repos/josefwaller/PyCatan/keys{/key_id}","collaborators_url":"https://api.github.com/repos/josefwaller/PyCatan/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/josefwaller/PyCatan/teams","hooks_url":"https://api.github.com/repos/josefwaller/PyCatan/hooks","issue_events_url":"https://api.github.com/repos/josefwaller/PyCatan/issues/events{/number}","events_url":"https://api.github.com/repos/josefwaller/PyCatan/events","assignees_url":"https://api.github.com/repos/josefwaller/PyCatan/assignees{/user}","branches_url":"https://api.github.com/repos/josefwaller/PyCatan/branches{/branch}","tags_url":"https://api.github.com/repos/josefwaller/PyCatan/tags","blobs_url":"https://api.github.com/repos/josefwaller/PyCatan/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/josefwaller/PyCatan/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/josefwaller/PyCatan/git/refs{/sha}","trees_url":"https://api.github.com/repos/josefwaller/PyCatan/git/trees{/sha}","statuses_url":"https://api.github.com/repos/josefwaller/PyCatan/statuses/{sha}","languages_url":"https://api.github.com/repos/josefwaller/PyCatan/languages","stargazers_url":"https://api.github.com/repos/josefwaller/PyCatan/stargazers","contributors_url":"https://api.github.com/repos/josefwaller/PyCatan/contributors","subscribers_url":"https://api.github.com/repos/josefwaller/PyCatan/subscribers","subscription_url":"https://api.github.com/repos/josefwaller/PyCatan/subscription","commits_url":"https://api.github.com/repos/josefwaller/PyCatan/commits{/sha}","git_commits_url":"https://api.github.com/repos/josefwaller/PyCatan/git/commits{/sha}","comments_url":"https://api.github.com/repos/josefwaller/PyCatan/comments{/number}","issue_comment_url":"https://api.github.com/repos/josefwaller/PyCatan/issues/comments{/number}","contents_url":"https://api.github.com/repos/josefwaller/PyCatan/contents/{+path}","compare_url":"https://api.github.com/repos/josefwaller/PyCatan/compare/{base}...{head}","merges_url":"https://api.github.com/repos/josefwaller/PyCatan/merges","archive_url":"https://api.github.com/repos/josefwaller/PyCatan/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/josefwaller/PyCatan/downloads","issues_url":"https://api.github.com/repos/josefwaller/PyCatan/issues{/number}","pulls_url":"https://api.github.com/repos/josefwaller/PyCatan/pulls{/number}","milestones_url":"https://api.github.com/repos/josefwaller/PyCatan/milestones{/number}","notifications_url":"https://api.github.com/repos/josefwaller/PyCatan/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/josefwaller/PyCatan/labels{/name}","releases_url":"https://api.github.com/repos/josefwaller/PyCatan/releases{/id}","deployments_url":"https://api.github.com/repos/josefwaller/PyCatan/deployments","created_at":"2016-07-05T21:15:53Z","updated_at":"2017-08-12T20:55:10Z","pushed_at":"2016-11-19T21:39:42Z","git_url":"git://github.com/josefwaller/PyCatan.git","ssh_url":"git@github.com:josefwaller/PyCatan.git","clone_url":"https://github.com/josefwaller/PyCatan.git","svn_url":"https://github.com/josefwaller/PyCatan","homepage":null,"size":67,"stargazers_count":5,"watchers_count":5,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":5,"default_branch":"master","network_count":1,"subscribers_count":1}'
  recorded_at: Mon, 21 Aug 2017 22:37:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/josefwaller/PyCatan/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1503358060'
      Etag:
      - W/"9383307bedc4ad15b256e0f7e4514a52"
      Last-Modified:
      - Sat, 19 Nov 2016 21:39:27 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"e97ab8e973a34f706324a08e82861c9095d10650","commit":{"author":{"name":"josefwaller","email":"josef@siriusapplications.com","date":"2016-11-19T21:39:27Z"},"committer":{"name":"josefwaller","email":"josef@siriusapplications.com","date":"2016-11-19T21:39:27Z"},"message":"Finished
        documentation","tree":{"sha":"bccb18ecdb0787e88f4f21a4e08540340884be91","url":"https://api.github.com/repos/josefwaller/PyCatan/git/trees/bccb18ecdb0787e88f4f21a4e08540340884be91"},"url":"https://api.github.com/repos/josefwaller/PyCatan/git/commits/e97ab8e973a34f706324a08e82861c9095d10650","comment_count":0},"url":"https://api.github.com/repos/josefwaller/PyCatan/commits/e97ab8e973a34f706324a08e82861c9095d10650","html_url":"https://github.com/josefwaller/PyCatan/commit/e97ab8e973a34f706324a08e82861c9095d10650","comments_url":"https://api.github.com/repos/josefwaller/PyCatan/commits/e97ab8e973a34f706324a08e82861c9095d10650/comments","author":{"login":"josefwaller","id":5296849,"avatar_url":"https://avatars0.githubusercontent.com/u/5296849?v=4","gravatar_id":"","url":"https://api.github.com/users/j[...]
- request:
    method: get
    uri: https://api.github.com/repos/josefwaller/PyCatan/pulls?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1503358060'
      Etag:
      - '"aacc6f617e4d9cd3fbca87b8d3748d98"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 21 Aug 2017 22:37:30 GMT
recorded_with: VCR 3.0.3
